.container-users {
  position: relative;
  min-height: 630px;
  padding: 120px 0;
  background-color: var(--lite-color);
  display: flex;
  justify-content: center;
  background-color: rgba(243, 245, 244, 1);

  .users-list {
    z-index: 10;
    width: 1470px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 70px;
  }

  .update-user {
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    left: 20px;
    z-index: 5;
  }
}
