<html>
<header class="bg-header">
        <div class="card flex justify-center">
            <p-selectbutton [options]="paymentOptions" [(ngModel)]="value" optionLabel="name" optionValue="value" (click)="toggleTheme()"/>
        </div>
  <div class="centering-device">
    <div class="header">
      <div class="company-icon column">
        <fa-icon [icon]="faMountainSun" alt="mountains" width="500px"></fa-icon>
      </div>
      <div class="main-crossings fs-18 semi-bold">
        @for (navigation of navigations; track $index) {
          <a [routerLinkActiveOptions]="{ exact: true }" [routerLink]="navigation.link" routerLinkActive="active">{{ navigation.navigation }}</a>
        }
      </div>
    </div>
  </div>
  <div>
    <div class="card flex justify-center">
        <p-toggleswitch (onChange)="toggleMode($event)" [ngModel]="themeService.isDark$ | async"/>
    </div>
  </div>
</header>

</html>
