.main-information{
  background-image: url('/images/main-bg.png');
  width: 1920px;
  height: 985px;
  position: absolute;
  z-index: -1;

  .centering-device{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
  }

  .header {
    width: 1080px;
    color: var(--white-color);
    height: 72px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    .consutation-button {
      margin-left: 25px;
      padding-bottom: 10px;
      border-radius: 4px;
      width: 157;
      height: 44;
      opacity: 1;
      gap: 10px;
      padding-top: 12px;
      padding-right: 24px;
      padding-bottom: 12px;
      padding-left: 24px;
      background-color: var(--green-color);
      color: var(--white-color);
    }

    .main-crossings {
      display: flex;
      gap: 24px;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}

  .company-name {
    width: 130px;
    height: 11px;

  }

  .first-section {
    width: 1920px;
    height: 985px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

.title {
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  height: 150px;
  margin-top: 463px;
  margin-left: 370px;
  color: var(--white-color);
}

.tour-filter {
  gap: 24px;
  align-items: center;
  width: 1180px;
  height: 161px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 370px;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .search-btn {
    width: 213px;
    margin-bottom: 30px;
  }

  .select-main {
    opacity: 1;
    gap: 8px;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white-color);
    border-color: aliceblue;
  }


  .calendar-icon {
    position: absolute;
    margin-top: 17px;
    margin-left: 269px;
  }
}

.company-icon {
  display: flex;
  justify-content: center;


  .company-name {
    width: 130px;
    height: 11px;
    display: flex;
    justify-content: center;
    margin-top: 9px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

}
