.main-information{
  background-image: url('/images/main-bg.png');
  width: 1920px;
  height: 985px;
  position: absolute;


  .bg-header {
    height: 120px;
    background-color: rgba(24, 18, 30, 0.5);
    padding-top: 24px;
  }

  .centering-device{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 1080px;
    color: var(--white-color);
    height: 72px;
    display: flex;
    justify-content:space-between;
    align-items: center;

    .consutation-button {
      margin-left: 25px;
      padding-bottom: 10px;
      border-radius: 4px;
      width: 157;
      height: 44;
      opacity: 1;
      gap: 10px;
      padding-top: 12px;
      padding-right: 24px;
      padding-bottom: 12px;
      padding-left: 24px;
      background-color: var(--white-color);
      color: var(--primari-color);
    }

    .main-crossings {
      display: flex;
      gap: 24px;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}

  .company-name {
    width: 130px;
    height: 11px;

  }

  .first-section {
    width: 1920px;
    height: 985px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

.title {
  font-weight: 400;
  font-size: 50px;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  height: 150px;
  margin-top: 463px;
  margin-left: 370px;
  color: var(--white-color);
}

.tour-filter {
  gap: 24px;
  align-items: center;
  width: 1180px;
  height: 161px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: 370px;
  margin-top: 41px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .search-btn {
    width: 213px;
    margin-bottom: 30px;
  }

  .select-main {
    opacity: 1;
    gap: 8px;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white-color);
    border-color: aliceblue;
  }

  .select-location {
    opacity: 1;
    gap: 8px;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    color: var(--white-color);
    border-color: aliceblue;
  }


  .calendar-icon {
    position: absolute;
    margin-top: 17px;
    margin-left: 269px;
  }
}

.company-icon {
  display: flex;
  justify-content: center;


  .company-name {
    width: 130px;
    height: 11px;
    display: flex;
    justify-content: center;
    margin-top: 9px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

}

.hike-description {
  width: 1920px;
  height: 771px;
  padding: 100px 370px;
  display: flex;

  .mountain {
    position: absolute;
  }
 
  .forest-container {
    z-index: 5;
    margin-left: 130px;
    position: absolute;
    margin-top: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stop-icon {
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .description {
    margin-left: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;

    .description-p {
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      margin-bottom: 40px;
    }
  }

  &-container {
    height: 526px;
  }

  .subtitle {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    margin-bottom: 8px;
  }

  .advice {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }

}

.hike-description-section {
  width: 100%;
}

.about-us {
  padding-top: 80px;
  padding-bottom: 100px;
  width: 100%;
  background-color: rgba(243, 245, 244, 1);
  display: flex;
  padding-left: 370px;
  padding-right: 370px;

  .proposal {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--secondary-color);
    margin-bottom: 8px;
  }

  .recommendations {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }

  .description {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }

  .prise-programm-btn {
    width: 232px;
    height: 52px;
    font-size: 15px;
  }

  .description-container {
    display: flex;
    justify-content: center;
    width: 580px;
    height: 591px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .images-container-four {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 510px;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    margin-left: 90px !important;
    gap: 10px;
    margin-top: 40px;

  }

  .advantag {
    width: 580px;
    height: 63px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .advantag-active {
    color: var(--white-color);
    width: 580px;
    height: 63px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(26, 36, 36);
  }

  .advantag-title {
    line-height: 20px;
    letter-spacing: 1.2%;
  }

  .advantag-description {
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    width: 514px;
    height: 40px;
    margin-top: 3px;
  }


  .icon-container {
    margin-top: 7px;
    margin-right: 16px;
  }
}

.active-advantag {
  background-color: rgb(9, 17, 17);
}

.input-time {
  width: 425px;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}

.clicker {
  position: absolute;
  margin-top: 80px;
}

.live-input {
  display: flex;
  margin-left: 370px;
  position: absolute;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  width: 200px;
  height: 200px;
  transition: all 0.3s ease;
  animation: spin 2s linear; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.loading-container {
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

.live-input-i {
background-color:rgba(0, 255, 255, 0);
}

.plus {
  margin-left: 10px;
}