<section class="first-section">
  <div class="main-information">
    <header>
      <div class="centering-device">
        <div class="header">
          <div class="company-icon column">
            <img src="/images/logo-company.svg" alt="mountains" width="137">
            <span class="company-name fs-18">{{companyName}}</span>
          </div>
          <div class="main-crossings fs-18 semi-bold">
            <a>Главная</a>
            <a>Про гида</a>
            <a>Программа тура</a>
            <a>Стоимость</a>
            <a>Блог</a>
            <a>Контакты</a>
            <div>
              <button class="consutation-button fs-16">Консультация</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div>
      <h1 class="title">Насладись прогулкой в горах с командой единомышленников</h1>
    </div>
    <div>
      <form class="tour-filter">
        <div class="column">
          <select class="wi-270 he-52 select-main">
            <option value="value" selected>Локация для тура</option>
          </select>
          <p class="white">выберите из списка</p>
        </div>
        <div class="column">
          <input type="text" class="wi-270 he-52 select-main" placeholder="Дата похода">
          <img class="calendar-icon" src="/images/calendar-icon.svg" alt="calendar" width="18px">
          <label class="white">укажите дату</label>
        </div>
        <div class="column">
          <select class="wi-270 he-52 select-main">
            <option value="value" selected>Участники</option>
          </select>
          <p class="white">выберите из списка</p>
        </div>
        <button class="search-btn he-52 bold fs-16">Найти программу</button>
      </form>
    </div>
  </div>
</section>