@use './fonts';

* {
  font-family: 'Nunito sans';
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1080px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.very-bold {
  font-weight: 800;
}

.wi-270 {
  width: 270px;
}

.he-52 {
  height: 52px;
}

.white {
  color: var(--white-color);
  margin-top: 8px;
}

:root {
  --primari-color: #000;
  --secondary-color: #F2BE22;
  --white-color: #fff;
  --green-color: rgba(26, 62, 62, 1);

}

.primeri-btn {
  border-radius: 4px;
  opacity: 1;
  gap: 10px;
  padding-top: 16px;
  padding-right: 36px;
  padding-bottom: 16px;
  padding-left: 36px;
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 16px;
}


